.navbar {
  height: 40px;
}

canvas:focus-visible {
    outline: 2px solid #005fcc;
  }

.drawing_and_layers_container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  width: 100vw;
}

.konva_column {
  flex: 0 0 75%;
}

.layers_column {
  /* flex: 1; */
  flex: 0 0 22%;
}

.save_load_child {
  display: inline-block;
}

/* Adapted from google AI */
.custom-toggle {
  height: 18px;
  align-items: center;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.custom-toggle:hover {
  background-color: #007bff !important;
  color: #000 !important; /* Text color on hover */
}

.btn-check:checked + .custom-toggle:hover,
.custom-toggle.active:hover {
  background-color: #0056b3 !important;
  color: #fff !important;
}
